#title {
    background-color: black;
    color: white;
    display: flex;
    height: 10vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

#main {
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    background: rgb(198, 194, 198);
}

#main > div {
    background-color: white;
    border-color: black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;     
    justify-content: center;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

h2 {
    max-width: 90%;
    max-height: 90%; 
    overflow: hidden; 
}
